* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 60px;
    font-weight: 1000;
    color: #000000;
    line-height: 1.1;
    padding-bottom: 20px;
}


.round-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF6B6B;
    border: 3.5px solid #FF6B6B;
    cursor: pointer;
    display: grid;
	place-items: center;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    transition: all 0.3s ease;
}

.round-btn:hover {
    background: transparent;
    border: 3.5px solid #FF6B6B;
}

.round-btn svg {
    width: 50px;
    height: 50px;
	margin: -5px;
}

.round-btn path {
    stroke: white;
    transition: stroke 0.3s ease;
}

.round-btn:hover path {
    stroke: #FF6B6B !important;
}

.round-btn:active {
    border-color: transparent !important; 
    transform: scale(0.95);               
}

.round-btn:active path {
    stroke: #FF6B6B !important;           
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #F2F5F7;
}

/* НАВИГАЦИЯ */
nav {
    background: #FF6B6B;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-content {
    margin: 0 auto;
    padding: 20px 220px 15px;
    display: grid;
    grid-template-columns: auto minmax(auto, 600px) auto;
    grid-template-areas: "logo menu phone";
    align-items: center;
    gap: clamp(1rem, 2vw, 2rem);
	background: #FF6B6B;
	width: 100%;
    top: 0;
    z-index: 100;
	
}

.nav-logo {
    grid-area: logo;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.nav-menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    justify-items: center;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 1rem);
    list-style: none;
    margin: 0;
    padding: 0;
	white-space: nowrap;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
}

.nav-menu a:hover {
    text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
}

.phone-number {
    grid-area: phone;
    font-weight: 800;
    color: #fff;
    white-space: nowrap;
    text-align: right;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 160px 0px ;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumbs {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
	margin-top: 2.5rem;
    font-size: 18px;
    color: #000000;
    width: fit-content;
}

.breadcrumbs a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
    white-space: nowrap;
}

.breadcrumbs a:hover {
    text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
}

.breadcrumbs span {
    color: #FF6B6B;
}


.page-description {
    color: #000000;
    margin-bottom: 3rem;
    line-height: 1.6;
    max-width: 600px;
	font-size: 18px;
}

/* ФИЛЬТР */
.specialties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 12px;
    margin-bottom: 6rem;
}

.specialty-item {
    background: white;
    border-radius: 25px;
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.specialty-item:hover {
    background: #BCFCF7;
    color: #000000;
}

.specialty-item.active {
    background: #4ECDC4;
    color: white;
}

/* НАШИ СПЕЦИАЛИСТЫ */
.specialists-section {
    background: #F2F5F7;
    padding-bottom: 200px;
}

.specialists-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.section-title {
    font-size: 60px;
    font-weight: 1000;
    color: #000000;
    line-height: 1.1;
    width: 100%;
}

.specialists-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 20px;
    justify-content: center;
}

.specialist-card {
    background: white;
    padding: 20px;
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    min-width: 200px;
    max-width: 350px;
    justify-self: center;
}

.specialist-photo {
    position: relative;
    overflow: hidden;
    min-height: 400px;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.specialist-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    grid-area: 1 / 1;
}

.specialist-info {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.specialist-name {
    font-size: 36px;
    font-weight: 1000;
    color: #000000;
    line-height: 1;
    margin: 0;
}

.specialist-patronymic {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin: 0;
}

.specialist-position {
    font-size: 16px;
    color: #000000;
    line-height: 1.4;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;
}

.card-footer {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
}

.details-btn {
    background: transparent;
    border: none;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    padding: 8px 0;
    text-align: left;
    justify-self: start; 
}
.details-btn:hover {
    color: #FF6B6B;
}

.details-btn:active {
    text-decoration: underline;
}


/* ОСТАЛИСЬ ВОПРОСЫ */
.questions-section {
    background: #F2F5F7;
    margin-top: -160px;
    position: relative;
    z-index: 6;
}

.questions-content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 60px;
    align-items: start;
}

.questions-form {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 25px;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 25px;
    min-width: 300px;
}

.questions-title {
    font-size: 40px;
    font-weight: 1000;
    color: #000000;
    line-height: 1.1;
    white-space: wrap;
    padding-bottom: 5px;
    overflow: hidden;
    margin: 0;
}

.questions-subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    overflow: hidden;
}

.contact-form {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 25px;
    width: 100%;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.form-group {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5px;
}

.form-label {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.form-input {
    padding: 15px 20px;
    border: 3px solid #F2F2F4;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
    background: #F2F2F4;
    width: 100%;
    box-sizing: border-box;
}

.form-input:hover {
    border: 3px solid #969697;
    background: #FFFFFF;
    outline: none;
}

.form-input:focus {
    border: 3px solid #FF6B6B;
    background: transparent;
    outline: none;
}

.form-textarea {
    padding: 15px 20px;
    border: 3px solid #F2F2F4;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
    background: #F2F2F4;
    resize: vertical;
    min-height: 120px;
    width: 100%;
    box-sizing: border-box;
}

.form-textarea:hover {
    border: 3px solid #969697;
    background: #FFFFFF;
    outline: none;
}

.form-textarea:focus {
    border: 3px solid #FF6B6B;
    background: transparent;
    outline: none;
}

.submit-with-icon {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.time-icon {
    width: 65px;
    height: 65px;
}

.btn-submit {
    padding: 18px 40px;
    border: 3.5px solid #FF6B6B;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    background: #FF6B6B;
    color: white;
    transition: all 0.3s ease;
    font-family: 'Rubik', sans-serif;
    justify-self: start;
}

.btn-submit:hover {
    background: transparent;
    color: #FF6B6B;
}

.btn-submit:active {
    border-color: transparent !important;
    color: #FF6B6B;
}


.questions-image {
    display: grid;
    align-items: end;
    position: relative;
    overflow: hidden;
    min-height: 600px; 
    width: 100%;
    height: 100%; 
}

.questions-image img {
    width: 100%;
    height: 550px; 
    object-fit: cover;
    object-position: bottom center;
    min-width: 450px;
    align-self: end; 
}


/* ФУТЕР */
.footer {
    background: #1A535C;
    border-radius: 25px 25px 0 0;
    padding: 40px 0 20px;
    font-family: 'Rubik', sans-serif;
    color: white;
}

.footer-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 40px;
}

.footer-content {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 40px;
    align-items: start;
}

.footer-brand {
    display: grid;
    align-items: start;
}

.footer-logo {
    font-size: 24px;
    font-weight: 1000;
    color: white;
    text-decoration: none;
    line-height: 1.1;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-content: center;
    gap: 15px 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*.footer-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-self: center;
} */

.footer-menu li a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    line-height: 1;
    padding: 0 10px;
}

.footer-menu li a:hover {
   text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;
}

.footer-contacts {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    justify-items: start;
}

.footer-phone {
    font-size: 16px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
}

.footer-time {
    font-size: 16px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
}

.footer-bottom-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.footer-social {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-self: start;
}

.social-link {
    display: grid;
    place-items: center;
    transition: opacity 0.3s ease;
}

.social-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.footer-bottom-text {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5px;
    justify-self: center;
    text-align: center;
}

.footer-bottom-text p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin: 0;
    line-height: 1.1;
}
